<main class="max-w-4xl m-auto min-h-screen grid place-content-center">
  <h1 class="text-4xl font-black uppercase text-center">
    Vaya creo que te has perdido    
    <img src="https://blog.thomasnet.com/hubfs/shutterstock_774749455.jpg" alt="404" class="w-1/2 m-auto">  
  </h1>
</main>