---
import Layout from '../layouts/Layout.astro';
import ListOfBooks from '../components/ListOfBooks.astro';
---

<Layout title="Libros de programacion recomendados por midudev">
	<main class="m-auto max-w-4xl">
		<h1 class="text-6xl font-black uppercase text-center">
			Libros de programación	
		</h1>
		<ListOfBooks />	
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}

</style>
